

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: verdana, helvetica, arial;
}

body.home {
    margin:300px auto 10px auto;

}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }


/* navagation */
body.home nav#primary > ul > li:nth-child(1),
body.filter nav#primary > ul > li:nth-child(2),
body.upload nav#primary > ul > li:nth-child(3),
body.about nav#primary > ul > li:nth-child(4){
        background:#F9A66C;
}

nav#primary {
    height:50px;
    line-height:50px;
    background:#f17a7e;
    clear: both;
    margin-bottom: 30px;
    width: 100%;

}

nav#primary li{
    float:left;
    list-style-type: none;
    width:25%;
    text-align:center;
    position: relative;
}

nav#primary a {
    text-decoration: none;
    display: block;
    color: #fff;
}

nav#primary ul {
    width: 100%;
    margin:0 auto;
}

nav#primary a:hover {
    background:#F9A66C;
    color: #fff;
}

.drop-down {
    display: none;
}

nav#primary li:hover .drop-down {
    display: block;
    position: absolute;
    top:50px;
    left: 0;
    background:#f17a7e;
    width: 100%;
    z-index: 10;
}

nav#primary li:hover .drop-down li {
    float: none;
    width: auto;
}

/** Weekly hits Mrittika*/   
.checked {
  color: orange;
}


/***Weekly hits Lucy***/
    

.hits {
  padding: 20px;
  text-decoration: underline;
}
.about {
  background-color: #f9a66c;
  margin-top: 60px;
  padding: 5px;
  display: block;
}

.secondClass {
  padding-left: 1000px;
}
.firstClass {
  padding-left: 15px;
}
.profile {
  ;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
figure {
    background-color: #4A6163;
}
.audioborder {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 60px;
  border-left-width: 120px;
  border-right-width: 120px;
  border-color: #e6e6e6;
}
.border {
  border-style: solid;
  border-width: 25px;
  border-color: #e6e6e6;
  padding: 25px;
  border-left-width: 20px;
  border-right-width: 20px;
}
.desc {
  text-align: center;
  background-color: #F17A7E;
}
.desctitle {
  padding-left: 30px;
  background-color: #e6e6e6;
}
.abouthead {
  text-decoration: underline;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(135,135,135,1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(135,135,135,1);
  box-shadow: 0px 0px 6px 1px rgba(135,135,135,1);
  margin-left: 100px;
  margin-right: 100px;
}
.firstClass, .secondClass, .profile {display: inline;}

/*** Mrittika upload page***/
{box-sizing: border-box}

/* Full-width input fields */
 input[type=text], input[type=password] {
 width: 100%;
 padding: 15px;
 margin: 5px 0 22px 0;
 display: inline-block;
 border: none;
 background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
 background-color: #ddd;
 outline: none;
}

hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
 opacity: 0.9;
}

button:hover {
 opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
 padding: 14px 20px;
 background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
 float: left;
 width: 50%;
}

/* Add padding to container elements */
.container {
 padding: 16px;
}

/* Clear floats */
.clearfix::after {
 content: "";
 clear: both;
 display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
 .cancelbtn, .signupbtn {
   width: 100%;
 }
}

